:root {
    --vt-maroon: #861F41;
    --vt-lightmaroon: #c33e6b;
    --vt-orange: #c64600;
    --vt-lightorange: #e87722;
    --vt-hokiestone: #75787b;
    --win-red: rgb(200, 38, 38);
    --green-shadow: rgb(8, 98, 8);
    --red-shadow: rgb(187, 24, 24);
    --grey-shadow: #68696a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 7px #b95c16;
}

.circle:hover {
    box-shadow: 0 0 25px white;
    transition: .1s;
}

body {
    height: 100vh;
    background: radial-gradient(var(--vt-lightmaroon), var(--vt-maroon));
    background-repeat: no-repeat;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    min-width: min-content;
    align-items: center;
    border: solid var(--vt-lightorange);
    border-width: 2px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 1.5rem;
}

.title {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
}

.win-counter {
   background: white;
   font-size: 17px;
   border-radius: 10px;
   height: 100%;
   color: var(--vt-maroon);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding: 15px 40px 10px 40px;
   flex: 1;
   max-width: 50px;
}

.numberOfWins {
    font-size: 30px;
    padding-top: 5px;
}

.selections {
    display: flex;
}

.selections ul {
    display: flex;
    gap: 4vw;
    margin: 40px;
}

.selections li {
    border: solid 17px var(--vt-lightorange);
    border-radius: 50%;
}

.bottom-main {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-direction: row;
    color: white;
    gap: 4vw;
}

.choice-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    background-color: var(--vt-maroon);
    border-radius: 50%;
    margin: 20px 20px 0px 20px;
}

.player-choice,
.hokiebird-choice,
.score-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
}

.score-section {
    justify-content: center;
    max-width: 181px;
    margin-top: 20px;
}

.score-container {
    background-color: white;
    margin: 20px 40px 40px 40px;
    padding: 20px;
    border-radius: 10px;
    color: var(--vt-maroon);
}

.score-content {
    font-size: 30px;
}